# Ignore data files
data/Reviews.csv
data/*.sqlite

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Optional: ignore virtual environment
venv/
.env/

# Optional: ignore cache
__pycache__/
*.py[cod]
